*{
    font-family: "Montserrat", Calibri;
    padding: 0;
    margin: 0;
}
.navbar-collapse .nav-item .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px; 
    width: 100%;
    height: 3px;
    background-color: rgb(245, 173, 28); 
    transform: scaleX(1); 
    transition: transform 0.3s ease; 
}
.nav-item  .nav-link {
    text-decoration: none; 
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative; 
}

.nav-item  .nav-link::after {
    content: '';
    position: absolute;   
    left: 0;
    bottom: -0.5px;
     width: 100%; 
    height: 3px; 
    background-color:rgb(245, 173, 28) ; 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
} 

.nav-item  .nav-link:hover {
    transform: translateY(-2px); /* Slight lift on hover */
}

.nav-item  .nav-link:hover::after {
    transform: scaleX(1); /* Expand underline on hover */
}
 .starting-quote-con {
      background-image: url(../public/images/5e5498836db0fa6b458dd3fefb310f41.gif);
      background-repeat: repeat;
      background-size: contain;
      height:auto;
   
     
}

.starting-quote-con .container{
      background-color: rgba(252, 175, 20, 0.6);
      /* color: rgb(242, 178, 49); */
      color: #299e0b;
      box-shadow: 0ox 10px 10px 0px #007A33;
         /* text-shadow: 
    -1px -1px 0 rgb(6, 204, 56),  
     1px -1px 0 rgb(6, 204, 56),
    -1px  1px 0 rgb(6, 204, 56),
     1px  1px 0 rgb(6, 204, 56); */

    
}
.bio-section{
    box-shadow: 2px 2px 4px 4px rgba(245, 173, 28, 0.6);
    background: 
    linear-gradient(to left, rgba(245, 173, 28, 0.9), rgba(227, 200, 118, 0.7)), url(../public/images/20.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen  and(max-width:650px){ 
    .bio-section p{
        font-size: 15px;
     }
}
.bio-section p{
    font-size: 22px;
}
.bio-section h2{
    text-shadow: 
    -1px -1px 0 rgb(245, 173, 28),  
     1px -1px 0 rgb(245, 173, 28),
    -1px  1px 0 rgb(245, 173, 28),
     1px  1px 0 rgb(245, 173, 28);
}
.life-lessson-hero{
    background-image: url(../public/images/36b5cac97e70863dda9a5dd8329cc8e4.jpg);
    height: 100vh;
    background-size: contain;
    background-position: center;
   
    
  
}
.life-lessson-hero p{
    text-shadow: 
    -1px -1px 0 rgb(6, 204, 56),  
     1px -1px 0 rgb(6, 204, 56),
    -1px  1px 0 rgb(6, 204, 56),
     1px  1px 0 rgb(6, 204, 56);
}
.life-lesson{
     background-image: url(../public/images/ffef6a35-6cf5-47a1-995c-b06a35b62462.jpeg);
  background-size: contain;


   
}
.life-lesson h3{
    text-shadow: 
    -1px -1px 0 rgb(6, 204, 56),  
     1px -1px 0 rgb(6, 204, 56),
    -1px  1px 0 rgb(6, 204, 56),
     1px  1px 0 rgb(6, 204, 56);
}

.life-lesson p{
     font-size: 1.2em;
     line-height: 2;
}

.life-lesson-section h3{
    text-shadow: 
    -1px -1px 0 rgb(6, 204, 56),  
     1px -1px 0 rgb(6, 204, 56),
    -1px  1px 0 rgb(6, 204, 56),
     1px  1px 0 rgb(6, 204, 56);
}
.life-lesson-section p{
    font-size: 1.2em;
    line-height: 2;
}

.main-quote-con{
    background-image: url(../public/images/Lindas\ margaridas\ em\ fundo\ amarelo\ com\ copyspace\ na\ parte\ inferior\ _\ Foto\ Grátis.jpeg);
    background-size: cover;
    border-radius: 10px;
    
}
.butterflies{
    /* transform: translateY(-10%); */
    background-image: url(../public/images/491e8249887be2a4550b47b2a6c7de10.gif);
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: repeat-x;
    
}
.quote{
    font-size: 22px;
}
.quote-title{
    font-size: 25px;
    font-weight: 900;
}
.resource-link{
     background-color: #007A33;
     padding:  10px 20px 20px 10px;
     color: rgb(245, 173, 28);
     text-decoration: none;
     font-size: 25px;
    
}
.art-link{
    background-color: #007A33;
    border: none;
    font-size: 25px;
    width: 100px;
}
.art-link a{
    color: rgb(245, 173, 28);
    text-decoration: none;
}